body {
  box-sizing: border-box;
  margin: 0;
  background-color: #fafafa;
  font-family: 'Roboto', sans-serif;
}

header, ul, li, .date, .info, #img-div {
  -webkit-display: flex;
  display: flex;
}

header, ul, #img-div {
  -webkit-flex-direction: column;
  flex-direction: column;
}

h2 {
  margin-top: -10px;
}

header {
  font-size: 1vw;
  max-width: 75%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
  background-color: #03a9f4;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  color: #fff;
}

@media only screen and (max-width: 600px) {

}

#headline, #img-caption {
  text-align: center;
}

#headline {
  margin-top: 30px;
}

#img-div {
  -webkit-justify-content: center;
  justify-content: center;
  align-items: center;
}

#image {
  margin: auto;
  max-width: 75%;
}

#img-caption {
  font-size: 1vw;
  font-style: italic;
}

a {
  text-decoration: none;
  font-weight: bold;
}

a:link, a:visited {
    color: #03a9f4;
    cursor: auto;
}

h3 {
  font-size: 2vw;
}

#tribute-info {
  text-align: center;
  margin: auto;
}

.date, .info {
  -webkit-align-items: center;
  align-items: center;
  padding: 5px 10px;
}

ul {
  margin: auto;
  border-top: #03a9f4 10px solid;
  border-bottom: #03a9f4 10px solid;
  -webkit-justify-content: center;
  justify-content: center;
  width: 50%;
}

@media only screen and (max-width: 600px) {
    ul {
        width: 92%;
    }
    header {
        font-size: 2.5vw;
    }
    #img-caption {
      font-size: 2.8vw;
    }
    h3, h4 {
      font-size: 3.5vw;
    }
}

li {
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  margin-left: -30px;
  margin-right: 14px;
  align-items: center;
}

.date {
  color: #fff;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  font-size: 1.5em;
  background-color: #03a9f4;
  padding: 4px;
}

.info {
  border-radius: 4px;
  -webkit-justify-content: center;
  justify-content: center;
  min-height: 60px;
  width: 90%;
  background-color: #eeeeee;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
